@charset "utf-8";
/* CSS Document */

body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}
.jumbotron{
	color: white;
	background-image: url(../images/IMG_0242.JPG);
	background-repeat: no-repeat;
	background-size: cover;
}